<div class="form-group">
    <label for="user">Author</label>
    <input required value="" type="text" name="user" id="user" class="form-control">
  </div>
  <div class="form-group">
    <label for="title">Title (Set title maximum two words) </label>
    <input required value="" type="text" name="title" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="image">Image url (Please provide url for image): </label>
    <input required value="" type="text" name="image" id="image" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control"></textarea>
  </div>
  
  <!-- <a href="allblogs" class="btn btn-secondary">Cancel</a> -->
  <button type="submit" class="btn btn-primary btn-lg float-end" align="center">Save</button>